<div class="container-fluid">
	<div class="jumbotron">
	<h1 class="display-2">Hello, Monkeys!</h1>
	<p class="lead">This web encapsulates the vision of connecting all programmers to share programming ideas and ask questions.</p>
	<hr class="my-4">
	<p>All are welcome to discuss your ideas and marvel at the amazing ideas of other developers.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button">Edit a profile</a>
	</p>
	<hr class="my-4">
	<p>Already have an account? No Problem! Come and check out posts created by other developers</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="/posts" role="button">See all posts</a>
	</p>
</div>
</div>