<%= form_with scope: :programmer, url: programmers_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

    <br><%= form.submit "Create" %>
  </p>
<% end %>

