<% if user_signed_in? %>

<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
	<%= form.hidden_field :post_id, :value => @post.id %>
	<p>
		<%= form.text_area :commentContents %>
	</p>
 	<p>
		<%= form.submit %>
	</p>
<% end %>

<% end %>