<div class="container-fluid">
	<h1>List of posts</h1>
	<ol>
		<% @post.each do |post| %>
			<li>
				<%= link_to post.post_title, post_path(post.id)%></li>
			<p><%= post.content %></p>
		<% end %>
	</ol>

	<a class="btn btn-primary" href="/posts/new">Create new post</a>
</div>