<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 ml-3 mt-3">
			<h1>List of posts</h1>
			<ol>
				<% @post.each do |post| %>
					<li>
						<%= link_to post.post_title, post_path(post.id)%></li>
					<p><%= post.content %></p>
				<% end %>
			</ol>
      <%= link_to 'Create New Post', new_programmer_post_path(programmer_id: @programmer.id), :class => "btn btn-info"%>
		</div>
	</div>
</div>